<!DOCTYPE html>
<html lang="en" itemtype="http://schema.org/Webpage" itemscope>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
        <meta name="MobileOptimized" content="320">

        <meta name="format-detection" content="telephone=no">
        <meta name="robots" content="index,follow">
        <meta name="google-site-verification" content="<%= process.env.GOOGLE_SITE_VERIFICATION_TOKEN %>">
        <meta name="yandex-verification" content="<%= process.env.YANDEX_SITE_VERIFICATION_TOKEN %>">
        <link rel="sitemap" href="/sitemap.xml">
        <link rel="canonical" href="https://reso.lith.pw">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="194x194" href="/favicon-194x194.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#24292e">
        <meta name="msapplication-TileColor" content="#24292e">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <meta name="theme-color" content="#24292e">

        <title>Resolith</title>
        <meta name="description" content="A simple way to know your screen resolution, aspect ratio, viewport and scrollbar width.">

        <!-- Schema.org markup (Google) -->
        <meta itemprop="name" content="Resolith">
        <meta itemprop="description" content="A simple way to know your screen resolution, aspect ratio, viewport and scrollbar width.">
        <meta itemprop="image" content="/images/social-preview.png">

        <!-- Twitter Card markup-->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@neluzhin">
        <meta name="twitter:title" content="Resolith">
        <meta name="twitter:description" content="A simple way to know your screen resolution, aspect ratio, viewport and scrollbar width.">
        <meta name="twitter:creator" content="@neluzhin">
        <!-- Twitter summary card with large image must be at least 280x150px -->
        <meta name="twitter:image" content="/images/social-preview.png">
        <meta name="twitter:image:alt" content="A simple way to know your screen resolution, aspect ratio, viewport and scrollbar width.">

        <!-- Open Graph markup (Facebook, Pinterest) -->
        <meta property="og:title" content="Resolith">
        <meta property="og:type" content="article">
        <meta property="og:url" content="https://reso.lith.pw">
        <meta property="og:image" content="/images/social-preview.png">
        <meta property="og:description" content="A simple way to know your screen resolution, aspect ratio, viewport and scrollbar width.">
        <meta property="og:site_name" content="Resolith">
    </head>
    <body class="app">
        <noscript>
            You need to enable JavaScript to run this app.
        </noscript>

        <main class="container">
            <% for (let i = 0; i < htmlWebpackPlugin.options.variables.slides.length; i++) { %>
                <section class="slide" id="<%= htmlWebpackPlugin.options.variables.slides[i].id %>">
                    <span class="slide__secondary-text">
                        <%= htmlWebpackPlugin.options.variables.slides[i].textBeforeValue %>
                    </span>

                    <strong class="slide__primary-text"></strong>

                    <span class="slide__secondary-text">
                        <%= htmlWebpackPlugin.options.variables.slides[i].textAfterValue %>
                    </span>
                </section>
            <% } %>
        </main>

        <footer>
            <nav class="navigation-arrows">
                <a class="navigation-arrows__arrow navigation-arrows__arrow--left" id="prev-arrow" title="Previous">&larr;</a>
                <a class="navigation-arrows__arrow navigation-arrows__arrow--right" id="next-arrow" title="Next">&rarr;</a>
            </nav>
        </footer>

        <script src="https://www.googletagmanager.com/gtag/js" async></script>
        <script src="https://mc.yandex.ru/metrika/watch.js" crossorigin="anonymous" async></script>
        <script src="https://cdn.ravenjs.com/3.22.1/raven.min.js" crossorigin="anonymous" async></script>
    </body>
</html>
